# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/Users/mabel/Git-local/data-engineer-nanodegree/p2-data-modeling-with-apache-cassandra

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
# print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
# print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [10]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [11]:
# TO-DO: Create a Keyspace 
import logging
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS udacity 
        WITH REPLICATION = 
        { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
    """
)

except Exception as e:
    logging.error("Could not create keyspace", exc_info=true)

#### Set Keyspace

In [15]:
# TO-DO: Set KEYSPACE to the keyspace specified above
session.set_keyspace("udacity")

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [17]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

q = "DROP TABLE IF EXISTS songs_session"

try:
    session.execute(q)
except Exception as e:
    logging.error(f"Could not execute query {q}", exc_info=true)

q = """
CREATE TABLE IF NOT EXISTS songs_session 
    (session_id int, item_in_session int, artist text, song_title text, song_length float, 
     PRIMARY KEY (session_id, item_in_session)
     )
"""
try:
    session.execute(q)
except Exception as e:
    logging.error(f"Could not execute query {q}", exc_info=true)

In [27]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    print(next(csvreader)) # skip header
    for line in csvreader:
        ## TO-DO: Assign the INSERT statements into the `query` variable
        query = """
        INSERT INTO udacity.songs_session (session_id, item_in_session, artist, song_title, song_length)
        VALUES (%s, %s, %s, %s, %s)"""
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length', 'level', 'location', 'sessionId', 'song', 'userId']

#### Do a SELECT to verify that the data have been inserted into each table

In [59]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4
try:
    result = session.execute("""
        SELECT artist, song_title, song_length FROM songs_session
        WHERE session_id =338 and item_in_session=4
    """
    )

except Exception as e:
    logging.error("Could not execute query", exc_info=true)
pd.DataFrame(result.current_rows)

      artist                       song_title  song_length
0  Faithless  Music Matters (Mark Knight Dub)   495.307312

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [55]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182
q = "DROP TABLE IF EXISTS user_session"

try:
    session.execute(q)
except Exception as e:
    logging.error(f"Could not execute query {q}", exc_info=true)
                    
q = """
CREATE TABLE IF NOT EXISTS user_session 
    (user_id int, session_id int, item_in_session int, artist text, song_title text, first_name text, last_name text, 
     PRIMARY KEY ((user_id, session_id), item_in_session)
     )
"""
try:
    session.execute(q)
except Exception as e:
    logging.error(f"Could not execute query {q}", exc_info=true)

In [56]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    print(next(csvreader)) # skip header
    for line in csvreader:
        ## TO-DO: Assign the INSERT statements into the `query` variable
        query = """
        INSERT INTO udacity.user_session (user_id, session_id, item_in_session, artist, song_title, first_name, last_name)
        VALUES (%s, %s, %s, %s, %s, %s, %s)"""
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (int(line[-1]), int(line[-3]), int(line[3]), line[0], line[-2], line[1], line[4]))

['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length', 'level', 'location', 'sessionId', 'song', 'userId']

In [57]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
# Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)
# for userid = 10, sessionid = 182
try:
    result = session.execute("""
        SELECT artist, song_title, first_name, last_name FROM user_session
        WHERE user_id =10 and session_id=182
    """
    )

except Exception as e:
    logging.error("Could not execute query", exc_info=true)
pd.DataFrame(result.current_rows)

,artist,song_title,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

In [63]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history
# who listened to the song 'All Hands Against His Own'

q = "DROP TABLE IF EXISTS users_per_song"

try:
    session.execute(q)
except Exception as e:
    logging.error(f"Could not execute query {q}", exc_info=true)
                    
q = """
CREATE TABLE IF NOT EXISTS users_per_song 
    (song_title text, user_id int, first_name text, last_name text, 
     PRIMARY KEY (song_title, user_id)
     )
"""
try:
    session.execute(q)
except Exception as e:
    logging.error(f"Could not execute query {q}", exc_info=true)

In [67]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    print(next(csvreader)) # skip header
    for line in csvreader:
        ## TO-DO: Assign the INSERT statements into the `query` variable
        query = """
        INSERT INTO udacity.users_per_song (song_title, user_id, first_name, last_name)
        VALUES (%s, %s, %s, %s)"""
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[-2], int(line[-1]), line[1], line[4]))

['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length', 'level', 'location', 'sessionId', 'song', 'userId']

In [69]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history
# who listened to the song 'All Hands Against His Own'
try:
    result = session.execute("""
        SELECT first_name, last_name FROM users_per_song
        WHERE song_title = 'All Hands Against His Own'
    """
    )

except Exception as e:
    logging.error("Could not execute query", exc_info=true)
pd.DataFrame(result.current_rows)

   first_name last_name
0  Jacqueline     Lynch
1       Tegan    Levine
2        Sara   Johnson

### Drop the tables before closing out the sessions

In [73]:
## TO-DO: Drop the table before closing out the sessions
tables = ["songs_session", "user_session", "users_per_song"]
for t in tables:
    try:
        session.execute(f"DROP TABLE IF EXISTS {t}")
        logging.info(f"Succesfully dropped table {t}!")
    except Exception:
        logging.info(f"Could not drop table {t}", exc_info=true)

### Close the session and cluster connection¶

In [74]:
session.shutdown()
cluster.shutdown()